.button:hover {
    background-color: rgb(0, 0, 126);
}

.ActionMenuButton1 {
    display: flex;
    opacity: 1;
}

.button {
    width: 327px;
    height: 70px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    -unity-font-definition: url("project://database/Assets/Fonts/Engcomica.otf?fileID=12800000&guid=96c649ca54c11d540adde8d787c59125&type=3#Engcomica");
}

.ActionMenuButton2 {
    display: none;
}

.cancelToPage1 {
    display: none;
    opacity: 0;
}

.ActionMenuButton3 {
    display: none;
    font-size: 36px;
    background-position-x: center;
    -unity-text-align: middle-left;
}

.Item {
    width: 40px;
    height: auto;
    background-position-x: center;
}

.ItemQtt {
    font-size: 29px;
    margin-right: 0;
}

.ActionMenuButton4 {
    display: none;
    opacity: 1;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -unity-text-align: middle-left;
}