.selector {
    opacity: 0;
    flex-grow: 0;
    background-image: url("project://database/Assets/UI/Combat/selector.png?fileID=21300000&guid=cb17b0f77b994c244aa1ab141fd0c796&type=3#selector");
    background-size: contain;
    scale: 1;
    align-items: stretch;
    justify-content: flex-start;
    align-content: auto;
    aspect-ratio: auto;
    -unity-slice-type: sliced;
    -unity-background-scale-mode: scale-and-crop;
    background-position-x: center;
    background-position-y: center;
    min-width: auto;
    align-self: center;
    width: 140px;
    height: 50px;
}

.button:hover {
    background-color: rgb(0, 0, 126);
}

.ActionMenuButton1 {
    display: flex;
    opacity: 1;
}

.button {
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    -unity-font-definition: url("project://database/Assets/Fonts/Engcomica.otf?fileID=12800000&guid=96c649ca54c11d540adde8d787c59125&type=3#Engcomica");
}

.ActionMenuButton2 {
    display: none;
}

.cancelToPage1 {
    display: none;
    opacity: 0;
}

.ActionMenuButton3 {
    display: none;
    font-size: 36px;
    background-position-x: center;
    -unity-text-align: middle-left;
}

.Item {
    width: 40px;
    height: auto;
    background-position-x: center;
}

.ItemQtt {
    font-size: 29px;
    margin-right: 0;
}

.ActionMenuButton4 {
    display: none;
    opacity: 1;
    flex-direction: row-reverse;
    justify-content: flex-start;
    -unity-text-align: middle-left;
}

/*GRID*/

/* 1. Le fond de la scrollbar (la grande piste grise) */
#InventoryGrid .unity-scroller__high-button,
#InventoryGrid .unity-scroller__low-button {
    display: none; /* Masque les petites flèches triangles ringardes en haut et en bas */
}

#InventoryGrid .unity-scroller {
    width: 10px; /* On la rend plus fine et discrète */
    background-color: transparent; /* Supprime le fond gris moche */
}

#InventoryGrid .unity-repeat-button {
    background-color: rgba(0, 0, 0, 0.15); /* Une piste très légèrement sombre et transparente */
    border-width: 0;
    border-radius: 5px; /* Arrondit les angles de la piste */
}

/* 2. Le "Thumb" (la poignée que le joueur attrape et fait glisser) */
#InventoryGrid .unity-scroller__thumb {
    background-color: #ffffff; /* Change la poignée en blanc pur (ou prend une couleur de ton UI) */
    border-width: 0;
    border-radius: 5px; /* Arrondit la poignée pour aller avec tes boutons */
}

/* Optionnel : Effet de survol sur la poignée */
#InventoryGrid .unity-scroller__thumb:hover {
    background-color: #e0e0e0; 
}
