.selector {
    opacity: 0;
    flex-grow: 0;
    background-image: url("project://database/Assets/UI/selector.png?fileID=21300000&guid=cb17b0f77b994c244aa1ab141fd0c796&type=3#selector");
    background-size: contain;
    scale: 1;
    align-items: stretch;
    justify-content: flex-start;
    align-content: auto;
    aspect-ratio: auto;
    -unity-slice-type: sliced;
    -unity-background-scale-mode: scale-and-crop;
    background-position-x: center;
    background-position-y: center;
    min-width: auto;
    align-self: center;
    width: 140px;
    height: 50px;
}

.ActionMenuButton1:hover .selector {
    opacity: 1;
}

.ActionMenuButton2:hover .selector {
    opacity: 1;
}

.ActionMenuButton3:hover .selector {
    opacity: 1;
}

.cancelToPage1:hover .selector {
    opacity: 1;
}

.ActionMenuButton1 {
    display: none;
}

.button {
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.ActionMenuButton2 {
    display: none;
}

.cancelToPage1 {
    display: none;
}

.ActionMenuButton3 {
    display: flex;
    font-size: 36px;
    background-position-x: center;
    -unity-text-align: middle-left;
}

.Item {
    width: 40px;
    height: auto;
    background-position-x: center;
}

.ItemQtt {
    font-size: 29px;
    margin-right: 0;
}
