.selector {
    opacity: 0;
    flex-grow: 0;
    background-image: url("project://database/Assets/UI/selector.png?fileID=21300000&guid=2a24550d21479604687813e1b0e52e8b&type=3#selector");
    background-size: contain;
    height: 32px;
    width: 70px;
    scale: 1;
    align-items: stretch;
    justify-content: flex-start;
    align-content: auto;
    aspect-ratio: auto;
    -unity-slice-type: sliced;
    -unity-background-scale-mode: scale-and-crop;
    background-position-x: center;
    background-position-y: center;
    min-width: auto;
    align-self: center;
}

.ActionMenuButton1:hover .selector {
    opacity: 1;
}

.ActionMenuButton2:hover .selector {
    opacity: 1;
}
.cancelToPage1:hover .selector {
    opacity: 1;
}
.ActionMenuButton1 {
    display: flex;
}

.button {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.ActionMenuButton2 {
    display: none;
}

.cancelToPage1 {
    display: none;
}
